################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleApplication6/v16/Browse.VC.opendb
/.vs/ConsoleApplication6/v16
/.vs/study/v16
/.vs
/ConsoleApplication6/x64/Debug
/x64/Debug
